body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    }

body {
    background-color: #3697FD;
    font-family: 'Seymour One', sans-serif;
}

main { 
    display: inline-block;
    width: 1400px;
    margin-left: calc((100% - 1400px) / 2);
}

.page-top {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 20px;
}

p {
    display: inline-block;
    float: left;
    font-size: 20px;
    color: #ffff;
}

a {
    display: inline-block;
    float: right;
    text-align: right;    
    font-size: 20px;
    color: #ffff;
    margin-left: 20px;
}

.left-side {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 60px;
    background-color: seagreen;

}

.right-side {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 60px;
    background-color: yellow;
}

