body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: #3697FD;
}

section{ 
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
}
    header{
        display: inline-block;
        width: 100%;
    }
        p{
            display: inline-block;
            float: left;
            padding: 20px;
            font-style: monospace;
        }
        nav{
            display: inline-block;
            float:right;
        }
            a{
                display: inline-block;
                font-style: monospace;
                text-decoration: none;
                padding: 20px;   
            }
    main{
        display: inline-block;
        width: 100%;
    }
        div{
            display: inline-block;
            width: 50%;
            float: left;
            
        }
            h1{
                display: inline-block;
                font-style: monospace;
                font-size: 50px;

            }
            h5{
                display: inline-block;
                font-style: monospace;
                float:left; 
                text-align: center;
            }
            button{
                display: inline-block;
                float: left;
                width: 50%;
            }
        img{
            display: inline-block;
            width: 50%;
            float: left;
            
        }